extends ./includes/layout.pug

block mainContent
    .jumbotron
        h1= content
        p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.