doctype html
html(lang="en")
    head
        title= viewTitle
        link(href="//bootswatch.com/flatly/bootstrap.min.css", rel="stylesheet")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        style.
            body:not(.authenticated) .navbar.navbar-fixed-top {
                padding: 10px 0;
            }
            body.anon .main-content-section {
                padding-top: 100px;
            }
            body.authenticated .main-content-section {
                padding-top: 80px;
            }
            @media (min-width: 768px) {
                .sign-up-item {
                    margin-left: 10px;
                }
            }
    body(class=isLoggedIn ? 'authenticated' : 'anon')
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand Brand
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/") Home
                    if isLoggedIn
                        li.dropdown
                            a.dropdown-toggle(href, data-toggle="dropdown", role="button", 
                                            aria-haspopup="true", aria-expanded="false") Hello, #{userName}
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="/dashboard") Dashboard
                                li
                                    a(href="/profile") Profile
                                li.divider(role="separator")
                                li  
                                    a(href="/logout") Log out
                    else
                        li
                            a.btn.btn-default(href="/login") Log in
                        li.sign-up-item
                            a.btn.btn-warning(href="/signup") Sign up
                            
        .container.main-content-section
            .row
                .col-sm-12
                    block mainContent
        script.
            $('.dropdown-toggle').dropdown()