doctype html
html(lang="en")
    head
        title= viewTitle
        link(href="https://bootswatch.com/flatly/bootstrap.min.css", rel="stylesheet")
    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand Brand
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/") Home
                    li
                        a(href="/protected") Dashboard
                    li
                        if isLoggedIn
                            a(href="/logout") Log out
                        else
                            a(href="/login") Log in
                            
        .container(style="padding-top: 70px")
            .row
                .col-sm-12
                    block mainContent