doctype html
html(lang="en")
    head
        title= viewTitle
        link(href="https://bootswatch.com/flatly/bootstrap.min.css", rel="stylesheet")
        style.
            .navbar.navbar-fixed-top {
                padding: 10px 0;
            }
            .main-content-section {
                padding-top: 100px;
            }
            @media (min-width: 768px) {
                .sign-up-item {
                    margin-left: 10px;
                }
            }
    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand Brand
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/") Home
                    if isLoggedIn
                        li
                            a(href="/protected") Dashboard
                        li
                            a(href="/logout") Log out
                    else
                        li
                            a.btn.btn-default(href="/login") Log in
                        li.sign-up-item
                            a.btn.btn-warning(href="/signup") Sign up
                            
        .container.main-content-section
            .row
                .col-sm-12
                    block mainContent